absl-py==1.2.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
colorama==0.4.5
dataclasses==0.8
einops==0.4.1
fairscale==0.4.6
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.18
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
labml==0.4.160
labml-helpers==0.4.89
labml-nn==0.4.133
Markdown==3.3.7
numpy==1.19.5
olefile==0.46
Pillow==8.4.0
protobuf==3.19.6
pybind11==2.10.0
pyparsing==3.0.9
pytorch-msssim==0.2.1
PyYAML==6.0
requests==2.27.1
scipy==1.5.4
smmap==5.0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torch==1.10.2
torchtext==0.11.2
torchvision==0.11.3
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.12
Werkzeug==2.0.3
wincertstore==0.2
wrapt==1.14.1
zipp==3.6.0
